body {
    background-color: rgb(252, 252, 252);
}
img.cat {
    height: 120px;
    width: 150px;
    border-radius: 10px;
}
img.mouse {
    height: 120px;
    width: 120px;
    border-radius: 10px;
}
img.americano {
    height: 120px;
    width: 180px;
    border-radius: 10px;
}
header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-button {
    padding: 10px;
    top: 10px;
}
.header-button-left {
    position: absolute;
    left:10px;
    margin-left: 15%;
    font-size: 30px;
    color: rgb(21, 202, 96);;
}
.header-button-right {
    position: absolute; 
    right: 10px;
    margin-right: 15%;
    font-size: 30px;
    color: rgb(21, 202, 96);;
}
input[type="text"] {
    width: 700px;
    height: 25px;
    margin-bottom: 9px;
}
div.search{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 38%;
    margin: 35px;
}
div.search_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(21, 202, 96);
    font-weight: 900;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(21, 202, 96);;
    border-radius: 30px;
    padding: 10px;
}
div.search_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:5px;
}
div.menu_images {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 25px;
    color: rgb(99, 96, 96);
}
div[class*="menu_img"] {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
}
div.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: medium;
    padding: 10px;
}
main {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3px;
    width: 60%;
    margin-left: 15%;
}
div[class*="advertisement"] {
    font-size: 80px;
    background-color: rgb(59, 59, 59);
    color: white;
    height: 110px;
    width: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
div.news_stand {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    border: 1px solid lightgray;
    height: 425px;
    width: auto;
}
div.news_stand_line_1 {
    color: rgb(77, 77, 77);
    font-size: larger;
}
div[class*="line_2"] {
    background-color: rgb(232, 237, 240);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
}
div.news_stand_articles_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    height: 270px;
    padding:10px;
    margin-top: 20px;
}
div.news_stand_article_1 {
    display: flex;
    flex-direction: row;
    height: 150px;
}
div.news_stand_article_2 {
    display: flex;
    flex-direction: row;
    height: 150px;
}
div.news_stand_article_3 {
    display: flex;
    flex-direction: row;
    height: 150px;
}
div.news_stand_article_4 {
    display: flex;
    flex-direction: row;
    height: 150px;
}
div[class*="caption"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-bottom: 40px;
}
div.article_title {
    font-weight: 900;
}
div[class*="footer_line"] {
    text-align: center;
    font-size: large;
}
div.column2 {
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 15%;
}
div.shopping {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    border: 1px solid lightgray;
    height: 530px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.shopping_row_1 {
    font-size: large;
    margin-top: 10px;
}
div.shopping_main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
div.shopping_images_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
    margin-right: 3px;
}
div[class*="shopping_images_row"] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
div.shopping_main_side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
    height: auto;
    margin-bottom: 5px;
}
div.shopping_side_1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(232, 237, 240);
    border-radius: 10px;
    border: 1px solid lightgray;
    align-items:center;
    height: 30%;
}
div.shopping_side_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(232, 237, 240);
    border-radius: 10px;
    border: 1px solid lightgray;
    height: 22%;
}
div.shopping_footer_line {
    height: 10%;
}
div.entertainment {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    border: 1px solid lightgray;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.entertainment_header {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    padding-right: 260px;
}
div.entertainment_topics {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    width: 45%;
}
div.entertainment_subscribe_home {
    display: flex;
    align-items: center;
}
div[class*="e_top"] {
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
div.e_top1 {
    background-color: rgb(58, 73, 209);
    color: white;
    font-weight: 900;
}
div[class*="entertainment_row"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
div[class*="entertainment_article"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div[class*="e_image"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
div[class*="e_caption"] {
    line-height: normal;
}
div[class*="e_author"] {
    color: rgb(83, 83, 83);
    display: flex;
    flex-direction: row;
}
div.login_container {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    border: 1px solid lightgray;
    width: auto;
}
div.login_line_1 {
    text-align: center;
}
div.login_button {
    border-radius: 3px;
    background-color: rgb(21, 202, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    height: 50px;
    margin: 10px;
}
div.login_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(102, 102, 102);
    font-size: small;
}
div.advertisement_2 {
    height: 200px;
}
div.weather {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    border: 1px solid lightgray;
    height: 230px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
div.weather_menu {
    display: flex;
    flex-direction: row;
    font-size: large;
    justify-content: space-between;
    margin-bottom: 15px;
}
div.weather_compare {
    position: relative;
    right: 140px;
    border: 1px solid lightgray;
    padding: 2px;
    border-radius: 10px;
    color: rgb(58, 58, 58);
}
div.weather_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
div.current_weather {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.weather_icon_and_degree {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
div.current_details {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
div.low {
    color: blue;
}
div.high {
    color: red;
}
div.slash {
    color:gray;
    font-size: smaller;
}
div.dust {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
i[class="fa-solid fa-chart-line"] {
    font-size: 150px;
}
div.today_weather {
    position: relative;
    width: 50%;
    margin-left: 15px;
    font-size: 20px;
    left: 70px;
}
div.stocks {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    border: 1px solid lightgray;
    height: 230px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.stocks_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.stocks_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.widgets {
    background-color: rgb(240, 246, 247);
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    border: 1px solid lightgray;
    height: 500px;
    width: auto;
}



footer{
    background-color: rgb(247, 247, 247);
    font-size: normal;
    padding-top: 5px;
}
div.footer_menu {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 180px;
    margin-right: 180px;
    justify-content: space-between;
}
div[class*="other_links"] {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right:10px;
    padding: 10px;
}
div.notices {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
div.footer_partners {
    display: flex;
    width: 1300px;
    height: 110px;
}
div.creators_partners_developers {
    display: relative;
    width: 700px;
}
div.creators{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 140px;
    padding: 5px;
}
div.partners { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 140px;
    padding: 5px;
}
div.developers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 180px;
    padding: 5px;
}
div.browser_flower {
    display: relative;
}
div.footer_browser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    padding: 5px;
}
div.footer_flower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    padding: 5px;
}